:root {
  --main-bg-color: #fefefe;
  --main-txt-color: #2c2c2c;
  --yellow-main: #ffe550;
  --button-green: #bbf330;
  --button-green-hover: #b5ff00;
  --dark-green: #7eb101;
  --dark-green-hover: #597d00;
  --pure-white: #ffffff;
  --accent: #ff4d8d;
  --green: #a7ce47;
  --pure-black: #000000;
  --dark-grey: #505050;
  --warning-color: #ff705d;

  --shadow-fruit: radial-gradient(
    50% 50% at 50% 50%,
    #2f583f 0%,
    rgba(105, 105, 105, 0) 100%
  );

  --cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
