<!DOCTYPE html>
<html lang="en">
  <body>
    <header class="header">
      <div class="header__container container">
        <nav class="nav">
          <a class="nav__logo" href="./index.html">
            <svg class="nav__logo-icon">
              <use href="./images/sprite.svg#icon-logo"></use>
            </svg>
          </a>

          <a class="primary-btn" href="./index.html">Home</a>
        </nav>
      </div>
    </header>
    <main>
      <section class="confirm section">
        <div class="container">
          <div class="main">
            <span class="main-text">Thank you for the order!</span>
            <span class="main-text">
              Our operators will contact you shortly to confirm the order!
            </span>
            <a class="main-text main-text--link" href="./index.html"
              >Return to the main page</a
            >
          </div>
        </div>
      </section>
    </main>
    <footer class="footer"></footer>
  </body>
</html>
