<section class="section customers-say">
  <!-- <svg width="100" height="100" class="customers-say__bg">
    <use href="./images/bg-img/img-bg2@1x_lg.svg"></use> -->
  </svg>
  <div class="container customers-say__container">
    <h2>What our Customers Say</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <div class="review">
      <h3>
        “The Best app I have used to order food in a while, so many options to
        choose from too, I would recommend to a freind, No questions asked”
      </h3>
      <p>Sumith Shah</p>
      <p>Some Dude</p>
    </div>
    <div class="review">
      <h3>
        “The ease with which I can just go in and order what i want was amazing,
        It has been a very pleasant experience ordering from this app”
      </h3>
      <p>Sumith Shah</p>
      <p>Some Dude</p>
    </div>
  </div>
</section>
