<section class="section favorite" id="menu">
  <div class="container">
    <h2 class="favorite__title">Some of Our Favorites</h2>
    <p class="favorite__desc">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>

    <ul class="favorite__list">
      <li class="favorite__item flip-card">
        <div class="flip-card__inner">
          <picture class="flip-card__front">
            <!-- desktop scren -->
            <source
              srcset="
                ./images/favorites-webp/img1-lg_315.webp 1x,
                ./images/favorites-webp/img1-lg_630.webp 2x
              "
              media="(min-width: 1280px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/favorites/img1-lg_315.png 1x,
                ./images/favorites/img1-lg_630.png 2x
              "
              media="(min-width: 1280px)"
              type="image/png"
            />
            <!-- tableb scren -->
            <source
              srcset="
                ./images/favorites-webp/img1-md_268.webp 1x,
                ./images/favorites-webp/img1-md_536.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/favorites/img1-md_268.png 1x,
                ./images/favorites/img1-md_536.png 2x
              "
              media="(min-width: 768px)"
              type="image/png"
            />

            <!-- mobile scren -->
            <source
              srcset="
                ./images/favorites-webp/img1-sm_224.webp 1x,
                ./images/favorites-webp/img1-sm_448.webp 2x
              "
              media="(max-width: 767px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/favorites/img1-sm_224.png 1x,
                ./images/favorites/img1-sm_448.png 2x
              "
              media="(max-width: 767px)"
              type="image/png"
            />

            <img
              class="favorite__pic"
              src="./images/favorites/img1-sm_224.png"
              alt="burger"
              width="224"
              height="224"
              loading="lazy"
            />
          </picture>
          <div class="flip-card__back">
            <svg width="50" height="50" class="flip-card__icon-flag">
              <use href="./images/sprite.svg#icon-USA"></use>
            </svg>
            <h3 class="flip-card__title">burger</h3>
            <p class="flip-card__desc">
              The incomparable meaty taste of the cutlet, the freshness of the
              greens and the crispness of the vegetables, the piquancy of the
              sauce.
            </p>
            <p class="flip-card__price">
              <span>5</span>
              <svg width="50" height="50" class="flip-card__icon">
                <use href="./images/sprite.svg#icon-dollar"></use>
              </svg>
            </p>
          </div>
        </div>
      </li>
      <li class="favorite__item flip-card">
        <div class="flip-card__inner">
          <picture class="flip-card__front">
            <!-- desktop scren -->
            <source
              srcset="
                ./images/favorites-webp/img2-lg_315.webp 1x,
                ./images/favorites-webp/img2-lg_630.webp 2x
              "
              media="(min-width: 1280px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/favorites/img2-lg_315.png 1x,
                ./images/favorites/img2-lg_630.png 2x
              "
              media="(min-width: 1280px)"
              type="image/png"
            />
            <!-- tableb scren -->
            <source
              srcset="
                ./images/favorites-webp/img2-md_268.webp 1x,
                ./images/favorites-webp/img2-md_536.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/favorites/img2-md_268.png 1x,
                ./images/favorites/img2-md_536.png 2x
              "
              media="(min-width: 768px)"
              type="image/png"
            />
            <!-- mobile scren -->
            <source
              srcset="
                ./images/favorites-webp/img2-sm_224.webp 1x,
                ./images/favorites-webp/img2-sm_448.webp 2x
              "
              media="(max-width: 767px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/favorites/img2-sm_224.png 1x,
                ./images/favorites/img2-sm_448.png 2x
              "
              media="(max-width: 767px)"
              type="image/png"
            />
            <img
              class="favorite__pic"
              src="./images/favorites/img2-sm_224.png"
              alt="burger"
              width="224"
              height="224"
              loading="lazy"
            />
          </picture>
          <div class="flip-card__back">
            <svg width="50" height="50" class="flip-card__icon-flag">
              <use href="./images/sprite.svg#icon-italy"></use>
            </svg>
            <h3 class="flip-card__title">Pasta</h3>
            <p class="flip-card__desc">
              Italian pasta has thousands of variations and all of them are
              surprisingly good. Pasta with tuna and olives is one of them.
            </p>
            <p class="flip-card__price">
              <span>4</span>
              <svg width="50" height="50" class="flip-card__icon">
                <use href="./images/sprite.svg#icon-dollar"></use>
              </svg>
            </p>
          </div>
        </div>
      </li>
      <li class="favorite__item flip-card">
        <div class="flip-card__inner">
          <picture class="flip-card__front">
            <!-- desktop scren -->
            <source
              srcset="
                ./images/favorites-webp/img3-lg_315.webp 1x,
                ./images/favorites-webp/img3-lg_630.webp 2x
              "
              media="(min-width: 1280px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/favorites/img3-lg_315.png 1x,
                ./images/favorites/img3-lg_630.png 2x
              "
              media="(min-width: 1280px)"
              type="image/png"
            />
            <!-- tableb scren -->
            <source
              srcset="
                ./images/favorites-webp/img3-md_268.webp 1x,
                ./images/favorites-webp/img3-md_536.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/favorites/img3-md_268.png 1x,
                ./images/favorites/img3-md_536.png 2x
              "
              media="(min-width: 768px)"
              type="image/png"
            />
            <!-- mobile scren -->
            <source
              srcset="
                ./images/favorites-webp/img3-sm_224.webp 1x,
                ./images/favorites-webp/img3-sm_448.webp 2x
              "
              media="(max-width: 767px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/favorites/img3-sm_224.png 1x,
                ./images/favorites/img3-sm_448.png 2x
              "
              media="(max-width: 767px)"
              type="image/png"
            />
            <img
              class="favorite__pic"
              src="./images/favorites/img3-sm_224.png"
              alt="burger"
              width="224"
              height="224"
              loading="lazy"
            />
          </picture>
          <div class="flip-card__back">
            <svg width="50" height="50" class="flip-card__icon-flag">
              <use href="./images/sprite.svg#icon-USA"></use>
            </svg>
            <h3 class="flip-card__title">Pizza</h3>
            <p class="flip-card__desc">
              Mushrooms give the dish an interesting, unusual taste, light and
              spicy. But at the same time, dishes with mushrooms turn out to be
              quite filling.
            </p>
            <p class="flip-card__price">
              <span>7</span>
              <svg width="50" height="50" class="flip-card__icon">
                <use href="./images/sprite.svg#icon-dollar"></use>
              </svg>
            </p>
          </div>
        </div>
      </li>
      <li class="favorite__item flip-card favorite__item--is-hidden">
        <div class="flip-card__inner">
          <picture class="flip-card__front">
            <!-- desktop scren -->
            <source
              srcset="
                ./images/favorites-webp/img4-lg_315.webp 1x,
                ./images/favorites-webp/img4-lg_630.webp 2x
              "
              media="(min-width: 1280px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/favorites/img4-lg_315.png 1x,
                ./images/favorites/img4-lg_630.png 2x
              "
              media="(min-width: 1280px)"
              type="image/png"
            />

            <!-- tableb scren -->
            <source
              srcset="
                ./images/favorites-webp/img4-md_268.webp 1x,
                ./images/favorites-webp/img4-md_536.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/favorites/img4-md_268.png 1x,
                ./images/favorites/img4-md_536.png 2x
              "
              media="(min-width: 768px)"
              type="image/png"
            />
            <!-- mobile scren -->
            <img
              class="favorite__pic"
              src="./images/favorites/img4-md_268.png"
              alt="burger"
              width="224"
              height="224"
              loading="lazy"
            />
          </picture>
          <div class="flip-card__back">
            <svg width="50" height="50" class="flip-card__icon-flag">
              <use href="./images/sprite.svg#icon-india"></use>
            </svg>
            <h3 class="flip-card__title">Rice</h3>
            <p class="flip-card__desc">
              This dish is special. It can be not only with meat, but also with
              mushrooms, seafood, vegetables.
            </p>
            <p class="flip-card__price">
              <span>4</span>
              <svg width="50" height="50" class="flip-card__icon">
                <use href="./images/sprite.svg#icon-dollar"></use>
              </svg>
            </p>
          </div>
        </div>
      </li>
      <li class="favorite__item flip-card favorite__item--is-hidden">
        <div class="flip-card__inner">
          <picture class="flip-card__front">
            <!-- desktop scren -->
            <source
              srcset="
                ./images/favorites-webp/img5-lg_315.webp 1x,
                ./images/favorites-webp/img5-lg_630.webp 2x
              "
              media="(min-width: 1280px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/favorites/img5-lg_315.png 1x,
                ./images/favorites/img5-lg_630.png 2x
              "
              media="(min-width: 1280px)"
              type="image/png"
            />
            <!-- tableb scren -->
            <source
              srcset="
                ./images/favorites-webp/img5-md_268.webp 1x,
                ./images/favorites-webp/img5-md_536.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/favorites/img5-md_268.png 1x,
                ./images/favorites/img5-md_536.png 2x
              "
              media="(min-width: 768px)"
              type="image/png"
            />

            <img
              class="favorite__pic"
              src="./images/favorites/img5-md_268.png"
              alt="burger"
              width="224"
              height="224"
              loading="lazy"
            />
          </picture>
          <div class="flip-card__back">
            <svg width="50" height="50" class="flip-card__icon-flag">
              <use href="./images/sprite.svg#icon-france"></use>
            </svg>
            <h3 class="flip-card__title">Salad</h3>
            <p class="flip-card__desc">
              Such a salad instantly attracts attention with its bright
              appearance. And how else, when there are crunchy greens, juicy
              oranges and a delicate sea cocktail.
            </p>
            <p class="flip-card__price">
              <span>8</span>
              <svg width="50" height="50" class="flip-card__icon">
                <use href="./images/sprite.svg#icon-dollar"></use>
              </svg>
            </p>
          </div>
        </div>
      </li>
      <li class="favorite__item flip-card favorite__item--is-hidden">
        <div class="flip-card__inner">
          <picture class="flip-card__front">
            <!-- desktop scren -->
            <source
              srcset="
                ./images/favorites-webp/img6-lg_315.webp 1x,
                ./images/favorites-webp/img6-lg_630.webp 2x
              "
              media="(min-width: 1280px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/favorites/img6-lg_315.png 1x,
                ./images/favorites/img6-lg_630.png 2x
              "
              media="(min-width: 1280px)"
              type="image/png"
            />
            <!-- tableb scren -->
            <source
              srcset="
                ./images/favorites-webp/img6-md_268.webp 1x,
                ./images/favorites-webp/img6-md_536.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/favorites/img6-md_268.png 1x,
                ./images/favorites/img6-md_536.png 2x
              "
              media="(min-width: 768px)"
              type="image/png"
            />
            <img
              class="favorite__pic"
              src="./images/favorites/img6-md_268.png"
              alt="burger"
              width="224"
              height="224"
              loading="lazy"
            />
          </picture>
          <div class="flip-card__back">
            <svg width="50" height="50" class="flip-card__icon-flag">
              <use href="./images/sprite.svg#icon-ukraine"></use>
            </svg>
            <h3 class="flip-card__title">Borsch</h3>
            <p class="flip-card__desc">
              This is a traditional Ukrainian dish. The price is high, but we
              will donate 20% to the Armed Forces of Ukraine.
            </p>
            <p class="flip-card__price">
              <span>20</span>
              <svg width="50" height="50" class="flip-card__icon">
                <use href="./images/sprite.svg#icon-dollar"></use>
              </svg>
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
