<footer class="footer">
  <div class="container">
    <div class="footer__top">
      <div class="footer__logo-nav">
        <a href="">Тут лого</a>

        <nav class="nav footer__nav">
          <ul class="nav__list nav__list--footer">
            <li class="nav__item">
              <a class="nav__link" href="">Home</a>
            </li>
            <li class="nav__item">
              <a class="nav__link" href="">About</a>
            </li>
            <li class="nav__item">
              <a class="nav__link" href="">Service</a>
            </li>
            <li class="nav__item">
              <a class="nav__link" href="">Menu</a>
            </li>
            <li class="nav__item">
              <a class="nav__link" href="">Contact</a>
            </li>
          </ul>
        </nav>
      </div>

      <!-- Form -->
      <h2 class="footer__form-title">Subscribe</h2>
      Тут форма
      <form class="footer__form" action=""></form>

      <button class="footer__button" type="submit">Subscribe</button>

      <p class="footer__agreement">
        By subscribing you agree to with our
        <span class="footer__privacy">
          <a href="" target="_blank">Privacy Policy</a>
        </span>
      </p>
    </div>

    <div class="footer__bottom">
      <ul class="footer__info">
        <li class="footer__item">
          <a class="footer__link-info" href="">Privacy Policy</a>
        </li>
        <li class="footer__item">
          <a class="footer__link-info" href="">Terms of Service</a>
        </li>
        <li class="footer__item">
          <a class="footer__link-info" href="">Cookies Settings</a>
        </li>
      </ul>
      <p class="footer__text">2022 FoodSta. All right reserved.</p>
    </div>
  </div>
</footer>
