<header class="header">
  <div class="header__container container">
    <nav class="nav">
      <a class="nav__logo" href="./index.html">
        <svg class="nav__logo-icon">
          <use href="./images/sprite.svg#icon-logo"></use>
        </svg>
      </a>

      <ul class="page-nav">
        <li class="page-nav__item">
          <a class="page-nav__link" href="#hero">Home</a>
        </li>
        <li class="page-nav__item">
          <a class="page-nav__link" href="#offerings">Offerings</a>
        </li>
        <li class="page-nav__item">
          <a class="page-nav__link" href="#menu">Menu</a>
        </li>
        <li class="page-nav__item">
          <a class="page-nav__link" href="#reviews">Reviews</a>
        </li>
        <li class="page-nav__item">
          <a class="page-nav__link" href="#contact">Contact</a>
        </li>
      </ul>
    </nav>
    <button
      class="primary-btn nav__button"
      type="button"
      aria-label="open window order"
      data-modal-open-order
    >
      Order Now
    </button>
    <div
      class="mobile-menu"
      aria-label="close mobile menu"
      data-modal
      data-modal-close
    >
      <ul class="mobile-menu__list">
        <li class="mobile-menu__item">
          <a class="mobile-menu__link" href="#hero">Home</a>
        </li>
        <li class="mobile-menu__item">
          <a class="mobile-menu__link" href="#offerings">Offerings</a>
        </li>
        <li class="mobile-menu__item">
          <a class="mobile-menu__link" href="#menu">Menu</a>
        </li>
        <li class="mobile-menu__item">
          <a class="mobile-menu__link" href="#reviews">Reviews</a>
        </li>
        <li class="mobile-menu__item">
          <a class="mobile-menu__link" href="#contact">Contact</a>
        </li>
      </ul>
    </div>

    <button
      type="button"
      class="header__burger"
      aria-label="open mobile menu"
      data-modal-open
    >
      <svg class="header__burger-icon">
        <use href="./images/sprite.svg#icon-menu"></use>
      </svg>
    </button>
  </div>
</header>
