<header class="header">
  <div class="header__thumb-logo">тут буде іконка лого</div>

  <div class="header__thumb-list">
    <ul class="header__list">
      <li class="header__item">Home</li>
      <li class="header__item">About</li>
      <li class="header__item">Service</li>
      <li class="header__item">Menu</li>
      <li class="header__item">Contact</li>
      <li class="header__item">Order Now</li>
    </ul>
  </div>

  <div class="header__burger-icon">тут буде іконка бургера</div>
</header>
