<section id="hero" class="section section__hero">
  <div class="container">
    <div class="hero__wrapper">
      <div>
        <h1 class="hero__title section__hero-title">
          Enjoy Your Favorite Food From Anywhere
        </h1>
        <p class="hero__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros elementum tristique. Duis cursus, mi quis viverra
          ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
        </p>
        <button
          class="hero__button primary-btn"
          type="button"
          data-modal-open-order
        >
          Order now
        </button>
      </div>

      <div class="slider">
        <div class="slider__item">
          <picture>
            <source
              srcset="
                ./images/img-hero/img1-lg_528.png  1x,
                ./images/img-hero/img1-lg_1056.png 2x
              "
              media="(min-width: 1280px)"
              type="image/png"
            />
            <source
              srcset="
                ./images/img-hero/img1-md_292.png 1x,
                ./images/img-hero/img1-md_584.png 2x
              "
              media="(min-width: 768px)"
              type="image/png"
            />
            <img
              class="slider__img"
              src="./images/img-hero/img1-lg_528.png"
              alt="Meal"
              loading="lazy"
            />
          </picture>
        </div>

        <div class="slider__item">
          <picture>
            <source
              srcset="
                ./images/img-hero/img2-lg_528.png  1x,
                ./images/img-hero/img2-lg_1056.png 2x
              "
              media="(min-width: 1280px)"
              type="image/png"
            />
            <source
              srcset="
                ./images/img-hero/img2-md_292.png 1x,
                ./images/img-hero/img2-md_584.png 2x
              "
              media="(min-width: 768px)"
              type="image/png"
            />
            <img
              class="slider__img"
              src="./images/img-hero/img2-lg_528.png"
              alt="Meal"
              loading="lazy"
            />
          </picture>
        </div>

        <div class="slider__item">
          <picture>
            <source
              srcset="
                ./images/img-hero/img3-lg_528.png  1x,
                ./images/img-hero/img3-lg_1056.png 2x
              "
              media="(min-width: 1280px)"
              type="image/png"
            />
            <source
              srcset="
                ./images/img-hero/img3-md_292.png 1x,
                ./images/img-hero/img3-md_584.png 2x
              "
              media="(min-width: 768px)"
              type="image/png"
            />
            <img
              class="slider__img"
              src="./images/img-hero/img3-lg_528.png"
              alt="Meal"
              loading="lazy"
            />
          </picture>
        </div>
        <a class="slider__prev" onclick="minusSlide()">
          <svg class="slider__icon">
            <use href="./images/sprite.svg#icon-arrow-right"></use></svg
        ></a>
        <a class="slider__next" onclick="plusSlide()"
          ><svg class="slider__icon">
            <use href="./images/sprite.svg#icon-arrow-left"></use></svg
        ></a>
      </div>
    </div>
  </div>
</section>
<script src="./js/slider.js"></script>
