<section class="section">
  <div class="container">
    <h2 class="section__title">Enjoy Your Favorite Food From Anywhere</h2>
    <p class="offerings__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
      varius enim in eros elementum tristique. Duis cursus, mi quis viverra
      ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
    </p>

    <ul class="offerings__features">
      <li class="offerings__item">
        <svg width="48" height="48">
          <use href="./images/sprite.svg#icon-rocket_launch"></use>
        </svg>
        <h4 class="offerings__title">Fastest Delivery</h4>
        <p class="offerings__text--sm">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros.
        </p>
      </li>
      <li class="offerings__item">
        <svg width="48" height="48">
          <use href="./images/sprite.svg#icon-touch_app"></use>
        </svg>
        <h4 class="offerings__title">Easy To Order</h4>
        <p class="offerings__text--sm">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros.
        </p>
      </li>
    </ul>
    <button type="button">Order now</button>
  </div>
</section>
