<div class="backdrope backdrop--hidden" data-modal-order>
  <div class="modal">
    <button class="modal__button-close" type="button" data-modal-close-order>
      <svg class="modal__button-icon">
        <use href="./images/sprite.svg#icon-cross"></use>
      </svg>
    </button>
    <form>
      <p class="order-form__header">What would you like to order?</p>
      <div class="menu-thumb">
        <div class="menu-thumb__item">
          <label class="menu-thumb__label">
            <div class="menu-thumb__photo">
              <picture>
                <!-- desktop scren -->
                <source
                  srcset="
                    ./images/favorites/img1-lg_315.png 1x,
                    ./images/favorites/img1-lg_630.png 2x
                  "
                  media="(min-width: 1280px)"
                  type="image/png"
                />
                <!-- tableb scren -->
                <source
                  srcset="
                    ./images/favorites/img1-md_268.png 1x,
                    ./images/favorites/img1-md_536.png 2x
                  "
                  media="(min-width: 768px)"
                  type="image/png"
                />
                <!-- mobile scren -->
                <source
                  srcset="
                    ./images/favorites/img1-sm_224.png 1x,
                    ./images/favorites/img1-sm_448.png 2x
                  "
                  media="(max-width: 767px)"
                  type="image/png"
                />
                <img
                  class="favorite__pic"
                  src="./images/favorites/img1-sm_224.png"
                  alt="burger"
                  width="224"
                  height="224"
                  loading="lazy"
                />
              </picture>
            </div>
            <div>
              <input
                class="menu-thumb__input"
                type="checkbox"
                name="dish"
                value="burger"
              />
              Burger
            </div>
          </label>
        </div>

        <div class="menu-thumb__item">
          <label class="menu-thumb__label">
            <div class="menu-thumb__photo">
              <picture>
                <!-- desktop scren -->
                <source
                  srcset="
                    ./images/favorites/img2-lg_315.png 1x,
                    ./images/favorites/img2-lg_630.png 2x
                  "
                  media="(min-width: 1280px)"
                  type="image/png"
                />
                <!-- tableb scren -->
                <source
                  srcset="
                    ./images/favorites/img2-md_268.png 1x,
                    ./images/favorites/img2-md_536.png 2x
                  "
                  media="(min-width: 768px)"
                  type="image/png"
                />
                <!-- mobile scren -->
                <source
                  srcset="
                    ./images/favorites/img2-sm_224.png 1x,
                    ./images/favorites/img2-sm_448.png 2x
                  "
                  media="(max-width: 767px)"
                  type="image/png"
                />
                <img
                  class="favorite__pic"
                  src="./images/favorites/img2-sm_224.png"
                  alt="burger"
                  width="224"
                  height="224"
                  loading="lazy"
                />
              </picture>
            </div>
            <div><input type="checkbox" name="dish" value="pasta" /> Pasta</div>
          </label>
        </div>

        <div class="menu-thumb__item">
          <label class="menu-thumb__label">
            <div class="menu-thumb__photo">
              <picture>
                <!-- desktop scren -->
                <source
                  srcset="
                    ./images/favorites/img3-lg_315.png 1x,
                    ./images/favorites/img3-lg_630.png 2x
                  "
                  media="(min-width: 1280px)"
                  type="image/png"
                />
                <!-- tableb scren -->
                <source
                  srcset="
                    ./images/favorites/img3-md_268.png 1x,
                    ./images/favorites/img3-md_536.png 2x
                  "
                  media="(min-width: 768px)"
                  type="image/png"
                />
                <!-- mobile scren -->
                <source
                  srcset="
                    ./images/favorites/img3-sm_224.png 1x,
                    ./images/favorites/img3-sm_448.png 2x
                  "
                  media="(max-width: 767px)"
                  type="image/png"
                />
                <img
                  class="favorite__pic"
                  src="./images/favorites/img3-sm_224.png"
                  alt="burger"
                  width="224"
                  height="224"
                  loading="lazy"
                />
              </picture>
            </div>
            <div><input type="checkbox" name="dish" value="pizza" /> Pizza</div>
          </label>
        </div>

        <div class="menu-thumb__item">
          <label class="menu-thumb__label">
            <div class="menu-thumb__photo">
              <picture>
                <!-- desktop scren -->
                <source
                  srcset="
                    ./images/favorites/img4-lg_315.png 1x,
                    ./images/favorites/img4-lg_630.png 2x
                  "
                  media="(min-width: 1280px)"
                  type="image/png"
                />
                <!-- tableb scren -->
                <source
                  srcset="
                    ./images/favorites/img4-md_268.png 1x,
                    ./images/favorites/img4-md_536.png 2x
                  "
                  media="(min-width: 768px)"
                  type="image/png"
                />
                <!-- mobile scren -->
                <img
                  class="favorite__pic"
                  src="./images/favorites/img4-md_268.png"
                  alt="burger"
                  width="224"
                  height="224"
                  loading="lazy"
                />
              </picture>
            </div>
            <div><input type="checkbox" name="dish" value="rice" /> Rice</div>
          </label>
        </div>

        <div class="menu-thumb__item">
          <label class="menu-thumb__label">
            <div class="menu-thumb__photo">
              <picture>
                <!-- desktop scren -->
                <source
                  srcset="
                    ./images/favorites/img5-lg_315.png 1x,
                    ./images/favorites/img5-lg_630.png 2x
                  "
                  media="(min-width: 1280px)"
                  type="image/png"
                />
                <!-- tableb scren -->
                <source
                  srcset="
                    ./images/favorites/img5-md_268.png 1x,
                    ./images/favorites/img5-md_536.png 2x
                  "
                  media="(min-width: 768px)"
                  type="image/png"
                />

                <img
                  class="favorite__pic"
                  src="./images/favorites/img5-md_268.png"
                  alt="burger"
                  width="224"
                  height="224"
                  loading="lazy"
                />
              </picture>
            </div>
            <div><input type="checkbox" name="dish" value="salad" /> Salad</div>
          </label>
        </div>

        <div class="menu-thumb__item">
          <label class="menu-thumb__label">
            <div class="menu-thumb__photo">
              <picture>
                <!-- desktop scren -->
                <source
                  srcset="
                    ./images/favorites/img6-lg_315.png 1x,
                    ./images/favorites/img6-lg_630.png 2x
                  "
                  media="(min-width: 1280px)"
                  type="image/png"
                />
                <!-- tableb scren -->
                <source
                  srcset="
                    ./images/favorites/img6-md_268.png 1x,
                    ./images/favorites/img6-md_536.png 2x
                  "
                  media="(min-width: 768px)"
                  type="image/png"
                />
                <img
                  class="favorite__pic"
                  src="./images/favorites/img6-md_268.png"
                  alt="burger"
                  width="224"
                  height="224"
                  loading="lazy"
                />
              </picture>
            </div>
            <div>
              <input type="checkbox" name="dish" value="borsch" /> Borsch
            </div>
          </label>
        </div>
      </div>
      <div class="order-thumb">
        <label class="order-form">
          <span class="order-form__text">Type your name:</span>
          <input
            class="order-form__input"
            type="text"
            name="Username"
            placeholder="Fill Richards"
          />
        </label>
        <label class="order-form">
          <span class="order-form__text">Type your phone number:</span>
          <input
            class="order-form__input"
            type="tel"
            name="Username"
            placeholder="+380 (xx) xxx-xx-xx"
            required
          />
        </label>
        <label class="order-form">
          <span class="order-form__text">Type your delivery address:</span>
          <input
            class="order-form__input"
            type="text"
            name="Username"
            placeholder="Lviv, 13 Shevchenka st, flat 1"
          />
        </label>
        <label class="order-form">
          <span class="order-form__text"
            >If necessary leave a comment here:</span
          >
          <textarea
            class="order-form__textarea"
            name="comment"
            rows="4"
            placeholder="I love tabasco!"
          ></textarea>
        </label>
      </div>
      <button
        onclick="newWindow()"
        class="order-button primary-btn"
        type="button"
      >
        Order
      </button>
    </form>
  </div>
</div>
<script>
  function newWindow() {
    window.location.href = './confirm.html';
  }
</script>
