<div class="backdrope hidden" data-modal-order>
  <div class="modal">
    <button
      class="modal__button-close"
      type="button"
      data-modal-close-order
    ></button>
    <form>
      <p>What would you like to order?</p>
      <div class="menu-thumb">
        <div class="menu-thumb__item">
          <label>
            <input
              class="menu-thumb__input"
              type="checkbox"
              name="dish"
              value="burger"
            />
            Burger
          </label>
        </div>

        <div class="menu-thumb__item">
          <label>
            <input type="checkbox" name="dish" value="pasta" />
            Pasta
          </label>
        </div>

        <div class="menu-thumb__item">
          <label>
            <input type="checkbox" name="dish" value="pizza" />
            Pizza
          </label>
        </div>

        <div class="menu-thumb__item">
          <label>
            <input type="checkbox" name="dish" value="rice" />
            Rice
          </label>
        </div>

        <div class="menu-thumb__item">
          <label>
            <input type="checkbox" name="dish" value="salad" />
            Salad
          </label>
        </div>

        <div class="menu-thumb__item">
          <label>
            <input type="checkbox" name="dish" value="borsch" />
            Borsch
          </label>
        </div>
      </div>
    </form>
  </div>
</div>
