<section>
  <div class="container">
    <h2>Subscribe To Get Special Offers</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
      varius enim in eros elementum tristique.
    </p>
    <form>
      <label for="email">

    </form>
  </div>
</section>
<label for="email">
 <input
        type="email"
        name="email"
        placeholder="Enter your email"
        class="join-us__input"
      />
</label>
      <button type="submit">Subscribe</button>
    </form>
  </div>
  <div class="container">
    <img srcset="" src="" alt="" width="546" height="266" />
  </div>
</section>

