%btn {
  font-weight: 400;
  font-size: 14;
  line-height: 1.5;
}

.primary-btn {
  @extend %btn;
  min-width: 100px;

  height: 32px;

  padding: 6px 16px;

  color: inherit;
  background-color: var(--button-green);
  border: none;
  border-radius: 30px;

  transition: background-color var(--cubic);

  &:hover,
  &:focus {
    background-color: var(--button-green-hover);
  }
}

.secondary-btn {
  @extend %btn;

  min-width: 130px;
  height: 40px;

  padding: 8px 18px;

  color: inherit;
  background: var(--pure-white);
  border: 2px solid var(--dark-green);
  border-radius: 30px;

  transition: border-color var(--cubic);

  &:hover,
  &:focus {
    border: 2px solid var(--dark-green-hover);
  }

  @include mq(desk) {
    min-width: 106px;
  }
}

.subscribe-btn {
  @extend %btn;
  min-width: 102px;
  height: 42px;

  padding: 10px 19px;

  background-color: var(--pure-white);
  border: 1px solid var(--dark-green);
  border-radius: 30px;

  color: inherit;
  transition: background-color var(--cubic);

  &:hover,
  &:focus {
    background-color: var(--yellow-main);
  }
}
.subscribe-btn-def {
  @extend %btn;
  width: 102px;
  height: 42px;
  padding: 10px 22px;

  @include mq(tab) {
    margin-top: 0;
  }

  @include mq(desk) {
    margin-top: 0;
  }
}
