.form-subscribe {
  display: flex;

  .subscribe & {
    display: block;

    @include mq(mob-only) {
      display: block;
      text-align: right;
    }
  }

  .form-subscribe__box {
    display: flex;
    flex-direction: column;
    gap: 4px;

    @include mq(mob-only) {
      margin-bottom: 1px;
    }

    @include mq(tab) {
      margin-bottom: 4px;
    }
  }

  .form-subscribe__input {
    padding: 13px;
    min-width: 279px;

    min-height: 42px;
    margin-bottom: 4px;
    position: relative;

    height: 100%;

    font-size: 12px;
    color: var(--dark-grey);

    border-radius: 30px;
    transition: border var(--cubic);

    &:focus-visible {
      outline: none;
    }

    &:placeholder-shown {
      border: 1px solid var(--yellow-main);
    }

    &:not(:placeholder-shown):valid {
      border: 1px solid var(--dark-green);
    }

    &:not(:placeholder-shown):invalid {
      border: 1px solid var(--warning-color);
    }

    &:not(:placeholder-shown):invalid + .form-subscribe__msg {
      opacity: 1;
    }
  }

  .form-subscribe__msg {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 10px;
    position: absolute;

    color: var(--warning-color);
    opacity: 0;
    transition: opacity var(--cubic);
  }
}

.subscribe .form-subscribe__input {
  display: flex;
  width: 100%;
  max-width: 395px;
  height: 42px;
  margin-bottom: 20px;

  @include mq(tab) {
    display: inline;
    margin-right: 18px;
  }

  @include mq(desk) {
    display: inline;
    margin-right: 32px;
  }
}
