.nav__list {
  display: flex;
  align-items: center;
}

.nav__list--footer {
  @include mq(mob-only) {
    flex-direction: column;
    gap: 20px;
    margin-left: 81px;
    margin-bottom: 40px;
  }

  @include mq(tab-only) {
    gap: 28px;
    margin-left: 114px;
    margin-bottom: 57px;
  }

  @include mq(desk) {
    margin-left: 145px;
  }
}

.nav__link {
  display: block;
  font-size: 14px;
  line-height: 1.14;

  color: var(--pure-black);

  &--current {
    color: var(--button-green);
    text-decoration: underline;
  }
}
