.nav {
  height: 100%;
  align-items: center;

  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}

.nav__logo {
  display: block;
}

.nav__logo-icon {
  display: flex;
  height: 52px;
  width: 71px;

  width: 100%;
}

.page-nav {
  height: 100%;
  gap: 28px;
  align-items: center;

  @include mq(mob-only) {
    display: none;

    flex-direction: column;
    gap: 20px;
    // margin-left: 81px;
    // margin-right: 140px;
    margin-bottom: 40px;
  }

  @include mq(tab) {
    display: flex;
  }
}

.page-nav__item {
  height: 100%;
}

.nav__item {
  width: 100%;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: transparent;
  pointer-events: none;

  font-size: 16px;
  line-height: 1.19;

  color: var(--pure-black);

  transition: opacity 500ms linear;

  @include mq(tab) {
    display: none;
  }
}

.mobile-menu__list {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  top: 50px;
  right: 20px;
  width: 40vw;
  max-width: 200px;
  height: 255px;
  background-color: var(--main-bg-color);
  border-radius: 30px 0px 30px 30px;
  box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);

  z-index: 10;
  overflow: hidden;

  @media screen and (min-width: 481px) and (max-width: 767px) {
    left: 50%;
  }
}

.mobile-menu__item {
  width: 100%;
  height: calc(100% / 5);
}

.mobile-menu__link {
  padding-left: 16px;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;

  &:active {
    background-color: var(--button-green);
  }
}
