.footer {
  padding-top: 64px;
  padding-bottom: 60px;

  background-image: url('../images/footer/mob_@1x.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;

  box-shadow: 0px -4px 24px rgba(105, 105, 105, 0.1);

  @include mq(retina) {
    background-image: url('../images/footer/mob_@2x.png');
  }
}

.footer__top {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  width: 100%;

  @include mq(mob-only) {
    flex-direction: column;
    margin-right: 40px;
    margin-bottom: 60px;
  }
}

.footer__logo-nav {
  display: flex;
  align-items: flex-start;
}

.footer__form-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;

  margin-bottom: 12px;
}

.footer__agreement {
  font-size: 10px;
  line-height: 1.2;
}

.footer__privacy {
  text-decoration: underline;
  text-underline-position: under;
  color: var(--dark-green);
}

.footer__subscribe-btn {
  display: block;
  margin-left: auto;
  margin-bottom: 20px;

  color: var(--main-txt-color);
}

.footer__bottom {
  display: flex;
  flex-direction: column;
}

.footer__info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.footer__link-info {
  font-size: 10px;
  line-height: 1.2;

  text-decoration: underline;
  text-underline-position: under;

  color: var(--dark-green);
}

.footer__text {
  font-size: 10px;
  line-height: 1.2;
  text-align: center;
}
