.footer {
  background-image: url('../images/footer/mob_@1x.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;

  box-shadow: 0px -4px 24px rgba(105, 105, 105, 0.1);

  @include mq(retina) {
    background-image: url('../images/footer/mob_@2x.png');
  }

  @include mq(tab-only) {
    background-image: url('../images/footer/tab_@1x.png');

    @include mq(retina) {
      background-image: url('../images/footer/tab_@2x.png');
    }
  }

  @include mq(desk) {
    background-image: url('../images/footer/desk_@1x.png');
    background-position: bottom;
    background-size: contain;

    @include mq(retina) {
      background-image: url('../images/footer/desk_@2x.png');
    }
  }
}

.footer__container {
  padding-top: 64px;
  padding-bottom: 60px;

  @include mq(tab) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

// Footer's first block
.footer-top {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  width: 100%;

  @include mq(mob-only) {
    flex-direction: column;
    margin-bottom: 60px;
  }

  @include mq(tab-only) {
    margin-bottom: 100px;
  }

  @include mq(desk) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;

    margin-bottom: 80px;
  }
}

// Logo-nav
.footer-top__logo-nav {
  display: flex;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 40px;

  @include mq(tab) {
    align-items: center;
  }

  @include mq(desk) {
    flex-wrap: nowrap;
    margin-bottom: 0;
  }
}

.footer-top__logo {
  display: block;
}

.footer-top__logo-icon {
  display: block;
}

.footer__nav {
  margin-left: auto;
  margin-right: 81px;

  @include mq(tab-only) {
    margin-right: 233px;
  }

  @include mq(desk) {
    margin-right: 320px;
  }
}

.footer__nav-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  gap: 20px;

  @include mq(tab) {
    flex-direction: row;
    align-items: center;
  }
}

.footer__nav-link {
  font-size: 14px;
  line-height: 1.14;
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;

  transition: color var(--cubic), text-decoration var(--cubic);

  &:hover,
  &:focus {
    color: var(--button-green);
  }

  &::after {
    opacity: 0;
    content: '';
    position: absolute;
    bottom: -15%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--button-green);
    transform: scaleX(0);

    transition: opacity var(--cubic), transform var(--cubic) 100ms;

    @include mq(tab) {
      bottom: 29%;
    }
  }

  &:hover::after,
  &:focus::after {
    opacity: 1;
    transform: scaleX(1);
  }

  // display: block;
  // font-size: 14px;
  // line-height: 1.14;

  // color: var(--pure-black);
  // transition: color var(--cubic), text-decoration var(--cubic),
  //   text-underline-position var(--cubic);

  // &:hover,
  // &:focus {
  //   color: var(--button-green);
  //   text-decoration: underline;
  //   text-underline-position: under;
  // }

  @include mq(tab) {
    padding-top: 17px;
    padding-bottom: 17px;
  }

  @include mq(desk) {
    color: var(--main-txt-color);
  }
}

// Form
.footer__form {
  display: flex;
  flex-direction: column;

  @include mq(mob-only) {
    width: 100%;
  }
}

.footer__form-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;

  margin-bottom: 12px;
}

.footer__form-subscribe {
  @include mq(tab) {
    display: flex;
    gap: 14px;
  }
}

.footer__agreement {
  font-size: 10px;
  line-height: 1.2;

  @include mq(tab) {
    font-size: 12px;
    line-height: 1.16;
  }
}

.footer__privacy {
  text-decoration: underline;
  text-underline-position: under;
  color: var(--dark-green);
}

.footer__subscribe-btn {
  display: block;
  margin-left: auto;
  margin-bottom: 20px;

  color: var(--main-txt-color);

  @include mq(tab) {
    margin-left: 0;
  }
}

// Footer's second block
.footer__bottom {
  display: flex;
  flex-direction: column;
  width: 100%;

  @include mq(tab) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.footer__info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;

  @include mq(tab) {
    margin-bottom: 0;
    align-items: center;
    gap: 20px;
  }
}

.footer__item {
  display: flex;
  align-items: center;
}

.footer__link-info {
  font-size: 10px;
  line-height: 1.2;

  text-decoration: underline;
  text-underline-position: under;

  color: var(--dark-green);

  @include mq(tab) {
    font-size: 12px;
    line-height: 1.16;
  }
}

.footer__text {
  display: block;
  font-size: 10px;
  line-height: 1.2;
  text-align: center;

  @include mq(tab) {
    font-size: 12px;
    line-height: 1.16;
  }
}
