.header {
  box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px 20px;

  @include mq(mob-only) {
    justify-content: space-between;
  }

  @include mq(tab) {
    height: 72px;
    padding: 0px 32px;
  }

  @include mq(desk) {
    padding: 0px 16px;
  }
}

.nav__button {
  @include mq(mob-only) {
    display: none;
  }

  margin-left: 28px;
  padding: 0;
}

.header__burger {
  display: flex;
  align-items: center;

  border: none;
  padding: 0;
  background-color: transparent;

  @include mq(tab) {
    display: none;
  }
}

.header__burger-icon {
  height: 28px;
  width: 28px;
}

.is-open {
  opacity: 1;
  pointer-events: all;
}
