.backdrope {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;

  z-index: 10;
}

.hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(1) translate(-50%, -50%);
  width: 90vw;
  max-width: 600px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background-color: var(--main-bg-color);

  padding: 20px 40px;

  border-radius: 10% 0 10% 10%;

  @include mq(desk) {
    min-height: 581px;
    min-width: 528px;
  }
}

.modal__button-close {
  position: absolute;
  top: -15px;
  right: -15px;
  width: 40px;
  height: 40px;
}

.order-form__header {
  text-align: center;
  font-size: 28px;
  line-height: 1.17;
  margin-bottom: 20px;
}

.menu-thumb {
  display: flex;
  justify-content: space-between;

  @include mq(mob-only) {
    flex-wrap: wrap;
  }
}

.menu-thumb__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mq(mob-only) {
    width: calc(100% / 3);
  }
}

.menu-thumb__label {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-thumb__photo {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;

  @include mq(mob-only) {
    width: 68px;
    height: 68px;
  }
}

.order-thumb {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.order-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.order-form__text {
  padding-left: 13px;
}

.order-form__textarea:not(:placeholder-shown),
.order-form__input:not(:placeholder-shown) {
  border: 2px solid var(--dark-green);
}

.order-form__input {
  height: 35px;
  border: 2px solid var(--yellow-main);
  border-radius: 10px;
  padding-left: 15px;

  transition: border var(--cubic);

  &:focus {
    border: 2px solid var(--dark-green);
    outline: none;
  }
}

.order-form__textarea {
  border: 2px solid var(--yellow-main);
  border-radius: 10px;
  padding: 10px 15px;
  resize: none;

  transition: border var(--cubic);

  &:focus {
    border: 2px solid var(--dark-green);
    outline: none;
  }
}

.order-button {
  display: block;
  font-size: 25px;
  height: 50px;
  width: 150px;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}
